<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="P5Time.Properties.Settings.conn" connectionString="server=svocr;port=3307;user id=remote;Password=&quot;&quot;;persist security info=True;database=p5time_svazvodaku_cz"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>